﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <header class="masthead clearfix">
                    <div class="inner">
                        <img src="~/Content/Logo_Amaznoon.png" class="masthead-brand"/>
                        @if (IsSectionDefined("Navigation"))
                        {
                            @RenderSection("Navigation")
                        }
                        else
                        {
                            <nav>
                                <ul class="nav masthead-nav">
                                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                                    <li class="active">@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
                                        @Html.Partial("_LoginPartial")   
                                </ul>
                            </nav>
                        }
                    </div>
                </header>

                @if (IsSectionDefined("Body"))
                {
                    @RenderSection("Body")
                }
                else
                {
                    <div class="inner cover">
                        @RenderBody()
                    </div>
                }

                <footer class="mastfoot">
                    <div class="inner">
                        <p>&copy; @DateTime.Now.Year - Amaznoon.  @Html.ActionLink("À propos de", "About", "Home").</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" title="" data-original-title="Copy to clipboard">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">
            <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1418834746473">
            <param name="allowScriptAccess" value="sameDomain">
            <param name="scale" value="exactfit">
            <param name="loop" value="false">
            <param name="menu" value="false">
            <param name="quality" value="best">
            <param name="bgcolor" value="#ffffff">
            <param name="wmode" value="transparent">
            <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">
        </object>
    </div>
</body>
</html>
