﻿@if (Session["User"] != null)
{
    <li>@Html.ActionLink("Panier (" + this.Session["NombreArticles"].ToString() + ")", "Index", "Panier")</li>
    <li>|</li>
    <li>
        <text>
            Bonjour @Html.ActionLink(Session["UserName"].ToString(), "UserInformation", "Compte", null, htmlAttributes: new { title = "Gérer mon compte" }) !
            @using (Html.BeginForm("Logoff", "Compte", FormMethod.Post, new { id = "logoutForm" }))
                    {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                    }
        </text>
    </li>
}
else
{
    <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
    <li>|</li>
    <li>@Html.ActionLink("Se connecter", "Login", "Compte", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("S'inscrire", "Register", "Compte", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
}
