﻿@model Amaznooon.Orchestres

@{
    ViewBag.Title = "Details";
}



<fieldset>
    <h2>Albums</h2>
    @foreach (var item in ViewBag.Extrait)
    {
        <div class="col-md-3">
            <img src="@Url.Action("Pochette", "Album" , new { id= @item.Code_Album} )" width="100" height="100" />
            <br />
            @Html.ActionLink((String)@item.Titre_Album, "Details", "Album", new { id = @item.Code_Album }, null)
        </div>
    }
</fieldset>
