﻿@model IEnumerable<Amaznooon.Orchestres>

@{
    ViewBag.Title = "Index";
}

@section Body{
    <h2>Liste des orchestres</h2>
    <ul class="pagination">
        @for (char c = 'A'; c <= 'Z'; c++)
        {
            <li>@Html.ActionLink(c.ToString(), "Index", "Orchestre", new { initiale = c }, null)</li>
        }
    </ul>

    <div class="contentList">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                @Html.ActionLink(item.Nom_Orchestre, "Details", new { id = item.Code_Orchestre })
            </div>
        }
    </div>
}