﻿@model Amaznooon.Models.LoginModel

@{
    ViewBag.Title = "Se connecter";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @if (Session["User"] != null)
            {
            <li>@Html.ActionLink("Panier (" + this.Session["NombreArticles"].ToString() + ")", "Index", "Panier")</li>
            <li>|</li>
           
            <li>
                <text>
                    Bonjour @Html.ActionLink(Session["UserName"].ToString(), "UserInformation", "Compte", null, htmlAttributes: new { title = "Gérer mon compte" }) !
                    @using (Html.BeginForm("Logoff", "Compte", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                    }
                </text>
            </li>
            }
            else
            {
                <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                <li>|</li>
                <li class="active">@Html.ActionLink("Se connecter", "Login", "Compte", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li>@Html.ActionLink("S'inscrire", "Register", "Compte", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            }
        </ul>
    </nav>
}

<h2>@ViewBag.Title</h2>

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table align="center">
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Nom d'utilisateur", @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.UserName)
                    <br />
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Mot de passe", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                    <br />
                    <input type="submit" value="Se connecter" />
                </td>
            </tr>
        </table>
        <p>
            @Html.ActionLink("S'inscrire", "Register") si vous n’avez pas de compte.
        </p>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
