﻿@model Amaznooon.Models.RegisterModel
@{
    ViewBag.Title = "S'inscrire";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @if (Session["User"] != null)
            {
                <li>@Html.ActionLink("Panier (" + this.Session["NombreArticles"].ToString() + ")", "Index", "Panier")</li>
                <li>|</li>

                <li>
                    <text>
                        Bonjour @Html.ActionLink(Session["UserName"].ToString(), "UserInformation", "Compte", null, htmlAttributes: new { title = "Gérer mon compte" }) !
                        @using (Html.BeginForm("Logoff", "Compte", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                        }
                    </text>
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                <li>|</li>
                <li>@Html.ActionLink("Se connecter", "Login", "Compte", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li class="active">@Html.ActionLink("S'inscrire", "Register", "Compte", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            }
        </ul>
    </nav>
}

<h2>Créez un nouveau compte</h2>

@using (Html.BeginForm(new { @class = "form - horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

        <table align="center">
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.Login, new { @placeholder = "Nom d'utilisateur", @class = "form-control" })
                    <br />
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "Mot de passe", @class = "form-control" })
                    <br />
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirmez le mot de passe", @class = "form-control" })
                    <br />
                    @Html.TextBoxFor(m => m.Nom, new { @placeholder = "Nom", @class = "form-control" })
                    <br />
                    @Html.TextBoxFor(m => m.Prénom, new { @placeholder = "Prénom", @class = "form-control" })
                    <br />
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Adresse email", @class = "form-control" })
                    <br />
                    @Html.TextAreaFor(m => m.Adresse, new { @placeholder = "Adresse", @class = "form-control" })
                    <br />
                    @Html.TextBoxFor(m => m.Ville, new { @placeholder = "Ville", @class = "form-control" })
                    <br />
                    @Html.TextBoxFor(m => m.CP, new { @placeholder = "Code postal", @class = "form-control" })
                    <br />
                    @Html.DropDownListFor(m => m.Pays, (IEnumerable<SelectListItem>)@ViewBag.Pays, new { @class = "form-control" })
                    <br />
                    <input type="submit" value="S'inscrire" />
                </td>
            </tr>
        </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
