﻿@model Amaznooon.Models.UpdateModel
@{
    ViewBag.Title = "UpdateUserInformation";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @if (Session["User"] != null)
            {
                <li>@Html.ActionLink("Panier (" + this.Session["NombreArticles"].ToString() + ")", "Index", "Panier")</li>
                <li>|</li>

                <li>
                    <text>
                        Bonjour @Html.ActionLink(Session["UserName"].ToString(), "UserInformation", "Compte", null, htmlAttributes: new { title = "Gérer mon compte" }) !
                        @using (Html.BeginForm("Logoff", "Compte", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                        }
                    </text>
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                <li>|</li>
                <li>@Html.ActionLink("Se connecter", "Login", "Compte", routeValues: null, htmlAttributes: null) </li>
                <li>@Html.ActionLink("S'inscrire", "Register", "Compte", routeValues: null, htmlAttributes: null)</li>
            }
        </ul>
    </nav>
}

<h2>Modifiez les informations du compte</h2>

<div class="contentList">
    @using (Html.BeginForm(new { @class = "form - horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
            <table align="center">
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Login, new { @placeholder = ViewBag.Abonné.Login, @class = "form-control" })
                        <br />
                        @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Ancien mot de passe", @class = "form-control" })
                        <br />
                        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Nouveau mot de passe", @class = "form-control" })
                        <br />
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirmez le mot de passe", @class = "form-control" })
                        <br />
                        @Html.TextBoxFor(m => m.Nom, new { @placeholder = ViewBag.Abonné.Nom_Abonné, @class = "form-control" })
                        <br />
                        @Html.TextBoxFor(m => m.Prénom, new { @placeholder = ViewBag.Abonné.Prénom_Abonné, @class = "form-control" })
                        <br />
                        @Html.TextAreaFor(m => m.Adresse, new { @placeholder = ViewBag.Abonné.Adresse, @class = "form-control" })
                        <br />
                        @Html.TextBoxFor(m => m.Ville, new { @placeholder = ViewBag.Abonné.Ville, @class = "form-control" })
                        <br />
                        @Html.TextBoxFor(m => m.CP, new { @placeholder = ViewBag.Abonné.Code_Postal, @class = "form-control" })
                        <br />
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = ViewBag.Abonné.Email, @class = "form-control" })
                        <br />
                        @Html.DropDownListFor(m => m.Pays, (IEnumerable<SelectListItem>)@ViewBag.Pays, new { @class = "form-control" })
                        <br />
                        <input type="submit" value="Valider" />
                    </td>
                </tr>
            </table>
    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
