﻿@model Amaznooon.Abonné
@{
    ViewBag.Title = "UserInformation";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @if (Session["User"] != null)
            {
                <li>@Html.ActionLink("Panier (" + this.Session["NombreArticles"].ToString() + ")", "Index", "Panier")</li>
                <li>|</li>

                <li>
                    <text>
                        Bonjour @Html.ActionLink(Session["UserName"].ToString(), "UserInformation", "Compte", null, htmlAttributes: new { title = "Gérer mon compte" }) !
                        @using (Html.BeginForm("Logoff", "Compte", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                        }
                    </text>
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                <li>|</li>
                <li>@Html.ActionLink("Se connecter", "Login", "Compte", routeValues: null, htmlAttributes: null) </li>
                <li>@Html.ActionLink("S'inscrire", "Register", "Compte", routeValues: null, htmlAttributes: null)</li>
            }
        </ul>
    </nav>
}

<h2>Informations du compte</h2>

<table align="center">
    <tr>
        <td align="left">
            Login
        </td>
        <td>
            @Model.Login
        </td>
    </tr>
    <tr>
        <td align="left">
            Nom
        </td>
        <td>
            @Model.Nom_Abonné
        </td>
    </tr>
    <tr>
        <td align="left">
            Prénom
        </td>
        <td>
            @Model.Prénom_Abonné
        </td>
    </tr>
    <tr>
        <td align="left">
            Adresse
        </td>
        <td>
            @Model.Adresse
        </td>
    </tr>
    <tr>
        <td align="left">
            Ville
        </td>
        <td>
            @Model.Ville
        </td>
    </tr>
    <tr>
        <td align="left">
            Code Postal
        </td>
        <td>
            @Model.Code_Postal
        </td>
    </tr>
    <tr>
        <td align="left">
            Pays
        </td>
        <td>
            @Model.Pays.Nom_Pays
        </td>
    </tr>
    <tr>
        <td align="left">
            Email
        </td>
        <td>
            @Model.Email
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.ActionLink("Modifier", "UpdateUserInformation", "Compte")
        </td>
    </tr>
    
</table>