﻿@model Amaznooon.Instrument

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Nom_Instrument)</h2>

<p class="lead">
    @Html.ActionLink("Musicien l'utilisant", "Musicien", "Musicien", new { id = @Model.Code_Instrument }, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Album le contenant", "Album", "Album", new { id = @Model.Code_Instrument }, new { @class = "btn btn-lg btn-default" })
</p>
