﻿@model IEnumerable<Amaznooon.Instrument>

@{
    ViewBag.Title = "Index";
}

@section Body{
    <h2>Instruments</h2>
    <ul class="pagination">
    @for (char c = 'A'; c <= 'Z'; c++)
    {
        <li>@Html.ActionLink(c.ToString(), "ChefOrchestre", "Musicien", new { initiale = c }, null)</li>
    }
    </ul>

    <div class="contentList">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <img src="@Url.Action("Image", "Instrument" , new { id= item.Code_Instrument} )" width="100" height="100" />
                <br />
                @Html.ActionLink(item.Nom_Instrument, "Details", new { id = item.Code_Instrument })
            </div>
        }
    </div>
}
