﻿@{
    ViewBag.Title = "Index";
}

<p class="lead">
    @Html.ActionLink("Interprète", "Interprete", "Musicien", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Chef d'orchestre", "ChefOrchestre", "Musicien", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Compositeur", "Compositeur", "Musicien", null, new { @class = "btn btn-lg btn-default" })
</p>
<p class="lead">
    @Html.ActionLink("Orchestre", "Index", "Orchestre", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Instruments", "Index", "Instrument", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Époque", "Epoque", "Musicien", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Album", "Index", "Album", null, new { @class = "btn btn-lg btn-default" })
    @Html.ActionLink("Genre", "Index", "Genre", null, new { @class = "btn btn-lg btn-default" })
</p>