﻿@{
    ViewBag.Title = "About";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li class="active">@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>
}

<table align="center">
    <tr>
        <td align="left">
            <h2>About</h2>
            <p>Ce site a été réalisé en ASP.NET MVC grâce à Microsoft Visual Studio.</p>
            <h3>Auteurs</h3>
            <p>Ce site a été réalisé par Pierre-Henri Agbo Et Adrien Bounader</p>
            <h3>Fonctionnalités du site</h3>
            <ul>
                <li>
                    Un menu de navigation
                    <ul>
                        <li>Il permet d'accéder à la page d'accueil, au catalogue et au onglet.</li>
                        <li>
                            Et d'accéder à l'authentification
                            <ul>
                                <li>Si aucun utilisateur n'est pas connecté un bouton de connexion est aussi disponible, à côté de celui-ci se trouve un bouton d'inscription.</li>
                                <li>Si un utlisateur est connecté un "Bonjour [Nom]" est présent à la place de ces boutons. L'utilisateur peut accéder à ses informations en cliquant sur son nom et se déconnecter.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Une page d'accueil
                    <ul>
                        <li>Elle possède un bouton qui, grâce au bouton Visitez le Store, amène vers le catalogue.</li>
                    </ul>
                </li>
                <li>
                    La page du Catalogue
                    <ul>
                        <li>
                            Cette pages possède plusieurs Bouton qui permettent d'effectuer une recherche.
                            On peut y faire une recherche d'Interprète, de Chef d'Orchestre, de Compositeur, d'Orchestre, d'Instruments, d'Album ou bien une recherche de Musicien par Époque ou des Albums par Genre
                        </li>
                    </ul>
                </li>
                <li>
                    La page du panier
                    <ul>
                        <li>
                            Cette pages n'est accessible qu'en étant connecté. Elle donne la liste des Enregistrement que l'Utilisateur a mis dans le panier.
                            Il peut ajouter un enregistrement grâce au bouton d'ajout en face de chaque enregistrement dans les détails d'un album.
                            On peut aussi y supprimer un enregistrement grâce au bouton de suppression en face de chaque enregistrement.
                            Enfin le bouton commander permet de valider la commande des article du panier.
                        </li>
                    </ul>
                </li>
                <li>
                    <b>Problème dans le site</b>
                    <ul>
                        <li>
                            L'authentification est fonctionnelle mais un problème persite quand à l'utilisation des cookies. En effet, il est préférable de se déconnecter avant de fermer le site web.
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>