﻿@{
    ViewBag.Title = "Index";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li class="active">@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>
}

@section Body{
    <div class="content">
        <h1 class="cover-heading">Amaznoon, le Classique en tout et pour tout</h1>

        <p class="lead">Retrouvez les Meilleures ventes Classique, Nouveautés Classique, des artistes tels que Mozart, Beethoven ou Bach mais aussi différents styles : Baroque, Romantique, Contemporaine etc.</p>
        <p class="lead">
            @Html.ActionLink("Visiter le Store", "Index", "Catalogue", null, new { @class = "btn btn-lg btn-default-special" })
        </p>
    </div>
}