﻿@model IEnumerable<Amaznooon.Album>

@{
    ViewBag.Title = "AlbumGenre";
}

@section Body{
    <h2>Albums</h2>

    <div class="contentList">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <img src="@Url.Action("Pochette", "Album" , new { id = item.Code_Album} )" width="100" height="100" />
                <br />
                @Html.ActionLink(item.Titre_Album, "Details", new { id = item.Code_Album })
            </div>
        }
    </div>
}