﻿@model Amaznooon.Album

@{
    ViewBag.Title = "Details de l'album";
}

<h2>@Model.Titre_Album</h2>

<div class="contentList">
    <table align="center">
        <tr>
            <td>
                <img src="@Url.Action("Pochette", "Album", new { id = @Model.Code_Album })" width="200" height="200" />

            </td>

        </tr>
        <tr>
            <td colspan="4" align="center">
                <audio controls preload="none" autoplay>
                    <source src="@Url.Action("Extrait", "Album", new { id = @ViewData["IdMorceau"] })" />
                    Votre navigateur n'est pas compatible
                </audio>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend><h3>@Model.Année_Album</h3></legend>
        <table align="center">
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Durée
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Panier
                </th>
            </tr>

            @foreach (var item in ViewBag.Extrait)
            {
                <tr>
                    <td align="left">
                        @Html.ActionLink(@Html.Truncate(((String)@item.Titre), 80), "Details", new { id = @Model.Code_Album, idMorceau = @item.Code_Morceau })
                    </td>
                    <td>
                        @item.Durée
                    </td>
                    <td>
                        @Math.Round(Convert.ToDouble(@item.Prix), 2)
                    </td>
                    <td>
                        @Html.ActionLink("Panier","AddArticle","Panier", new { enregistrement = @item.Code_Morceau, album = @Model.Code_Album},null)
                    </td>
                </tr>
            }
        </table>
    </fieldset>
</div>
