﻿@model IEnumerable<Amaznooon.Album>

@{
    ViewBag.Title = "Index";
}

@section Body{
    <h3>Liste des albums</h3>
    <ul class="pagination">
        @for (char c = 'A'; c <= 'Z'; c++)
        {
            <li>@Html.ActionLink(c.ToString(), "Index", "Album", new { initiale = c }, null)</li>
        }
    </ul>
    <div class="contentList">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <img src="@Url.Action("Pochette", "Album" , new { id= item.Code_Album} )" width="100" height="100" />
                <br />
                @Html.ActionLink(item.Titre_Album, "Details", new { id = item.Code_Album })
            </div>
        }
    </div>
}