﻿@model IEnumerable<Amaznooon.Musicien>
@{
    ViewBag.Title = "Compositeur";
}

@section Body{
    <h2>Compositeurs</h2>
    <div class="contentList">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <img src="@Url.Action("Photo", "Musicien" , new { id= item.Code_Musicien} )" width="100" height="100" />
                <br />
                @Html.ActionLink(item.Nom_Musicien + " " + item.Prénom_Musicien, "DetailsCompositeurs", "Musicien", new { id = item.Code_Musicien }, null)
            </div>
        }
    </div>
}