﻿@model Amaznooon.Musicien

@{
    ViewBag.Title = "Details";
}

<h2>Details de l'interprête</h2>

<div class="contentList">
    <table align="center">
        <tr>
            <td rowspan="5">
                <img src="@Url.Action("Photo", "Musicien" , new { id= @Model.Code_Musicien} )" width="200" height="200" />
            </td>
        </tr>
        <tr>
            <td>@Model.Nom_Musicien</td>
        </tr>
        <tr>
            <td>@Model.Prénom_Musicien</td>
        </tr>
        <tr>
            <td>@Model.Année_Naissance <text> - </text>@Model.Année_Mort</td>
        </tr>
        <tr>
            <td>@Model.Genre.Libellé_Abrégé</td>
        </tr>
    </table>
    <fieldset>
        <legend>Albums</legend>
        @foreach (var item in ViewBag.Extrait)
        {
            <div class="col-md-3">
                <img src="@Url.Action("Pochette", "Album" , new { id= @item.Code_Album} )" width="100" height="100" />
                <br />
                @Html.ActionLink((String)@item.Titre_Album, "Details", "Album", new { id = @item.Code_Album }, null)
            </div>
        }
    </fieldset>
</div>
