﻿@{
    ViewBag.Title = "Epoque";
}

<h2>Epoque</h2>

<p class="lead">
    <table align="center">
        <tr>
            <th><h3 align="center">Compositeur</h3></th>
            <th><h3 align="center">Interprète</h3></th>
        </tr>
        <tr>
            <td>
<p>@Html.ActionLink("Antiquité", "CompositeurParEpoque", "Musicien", new { epoque = 0 }, new { @class = "btn btn-lg btn-default" })</p></td>
<td><p>@Html.ActionLink("Avant 1899", "InterpreteParEpoque", "Musicien", new { epoque = 0 }, new { @class = "btn btn-lg btn-default" })</p></td>
        </tr>
<tr>
    <td><p>@Html.ActionLink("Moyen-Age", "CompositeurParEpoque", "Musicien", new { epoque = 1 }, new { @class = "btn btn-lg btn-default" })</p></td>
    <td><p>@Html.ActionLink("1900-1909", "InterpreteParEpoque", "Musicien", new { epoque = 1 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td><p>@Html.ActionLink("16ème siècle", "CompositeurParEpoque", "Musicien", new { epoque = 2 }, new { @class = "btn btn-lg btn-default" })</p></td>
    <td><p>@Html.ActionLink("1910-1919", "InterpreteParEpoque", "Musicien", new { epoque = 2 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td><p>@Html.ActionLink("17ème siècle", "CompositeurParEpoque", "Musicien", new { epoque = 3 }, new { @class = "btn btn-lg btn-default" })</p></td>
    <td><p>@Html.ActionLink("1920-1929", "InterpreteParEpoque", "Musicien", new { epoque = 3 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td><p>@Html.ActionLink("18ème siècle", "CompositeurParEpoque", "Musicien", new { epoque = 4 }, new { @class = "btn btn-lg btn-default" })</p></td>
    <td><p>@Html.ActionLink("1930-1939", "InterpreteParEpoque", "Musicien", new { epoque = 4 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td><p>@Html.ActionLink("19ème siècle", "CompositeurParEpoque", "Musicien", new { epoque = 5 }, new { @class = "btn btn-lg btn-default" })</p></td>
    <td><p>@Html.ActionLink("1940-1949", "InterpreteParEpoque", "Musicien", new { epoque = 5 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td><p>@Html.ActionLink("20ème siècle", "CompositeurParEpoque", "Musicien", new { epoque = 6 }, new { @class = "btn btn-lg btn-default" })</p></td>
    <td><p>@Html.ActionLink("1950-1959", "InterpreteParEpoque", "Musicien", new { epoque = 6 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td></td>
    <td><p>@Html.ActionLink("1960-1969", "InterpreteParEpoque", "Musicien", new { epoque = 7 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td></td>
    <td><p>@Html.ActionLink("1970-1979", "InterpreteParEpoque", "Musicien", new { epoque = 8 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td></td>
    <td><p>@Html.ActionLink("1980-1989", "InterpreteParEpoque", "Musicien", new { epoque = 9 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
<tr>
    <td></td>
    <td><p>@Html.ActionLink("Après 1990", "InterpreteParEpoque", "Musicien", new { epoque = 10 }, new { @class = "btn btn-lg btn-default" })</p></td>
</tr>
    </table>
</p>