﻿@model IEnumerable<Amaznooon.Musicien>

@{
    ViewBag.Title = "Interprete";
}

@section Body{
    <h2>Liste des musiciens</h2>
    <ul class="pagination">
        @for (char c = 'A'; c <= 'Z'; c++)
        {
            <li>@Html.ActionLink(c.ToString(), "Interprete", "Musicien", new { initiale = c }, null)</li>
        }
    </ul>

    <div class="contentList">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <img src="@Url.Action("Photo", "Musicien" , new { id= item.Code_Musicien} )" width="100" height="100" />
                <br />
                @Html.ActionLink(item.Nom_Musicien + " " + item.Prénom_Musicien, "Details", new { id = item.Code_Musicien })
            </div>
        }
    </div>
}