﻿@model IEnumerable<Amaznooon.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Genres</h2>

<p class="lead">
    @foreach (var item in Model)
    {
        <p>@Html.ActionLink(item.Libellé_Abrégé, "AlbumGenre", "Album", new { id = item.Code_Genre }, new { @class = "btn btn-lg btn-default" })</p>
    }
</p>


