﻿@model IEnumerable<Amaznooon.Enregistrement>

@{
    ViewBag.Title = "DejaAcheter";
}

<ul class="nav nav-tabs">
    <li role="presentation">@Html.ActionLink("Articles en cours d'achat", "Index") </li>
    <li role="presentation" class="active"><a href="#">Articles déjà achetés</a></li>
</ul>
<div class="contentList">
    <table align="center">
        <tr>
            <td colspan="4" align="center">
                <audio controls preload="none" autoplay>
                    <source src="@Url.Action("Extrait", "Album", new { id = @ViewData["IdMorceau"] })" />
                    Votre navigateur n'est pas compatible
                </audio>
            </td>
        </tr>
    </table>
    <table align="center">
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Durée
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="left">
                        @Html.ActionLink(@Html.Truncate(((String)item.Titre), 80), "DejaAcheter", new { id = item.Code_Morceau })
                    </td>
                    <td>
                        @item.Durée
                    </td>
                </tr>
            }
     </table>
</div>
