﻿@model IEnumerable<Amaznooon.Enregistrement>

@{
    ViewBag.Title = "Index";
}

@section Navigation{
    <nav>
        <ul class="nav masthead-nav">
            <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
            <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
            @if (Session["User"] != null)
            {
                <li class="active">@Html.ActionLink("Panier (" + this.Session["NombreArticles"].ToString() + ")", "Index", "Panier")</li>
                <li>|</li>

                <li>
                    <text>
                        Bonjour @Html.ActionLink(Session["UserName"].ToString(), "UserInformation", "Compte", null, htmlAttributes: new { title = "Gérer mon compte" }) !
                        @using (Html.BeginForm("Logoff", "Compte", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                        }
                    </text>
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                <li>|</li>
                <li>@Html.ActionLink("Se connecter", "Login", "Compte", routeValues: null, htmlAttributes: null) </li>
                <li>@Html.ActionLink("S'inscrire", "Register", "Compte", routeValues: null, htmlAttributes: null)</li>
            }
        </ul>
    </nav>
}

<table align="center">
    <tr>
        <td>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Articles en cours d'achat</a></li>
                <li role="presentation">@Html.ActionLink("Articles déjà achetés", "DejaAcheter")</li>
            </ul>
        </td>
    </tr>
</table>
@if (Model.Count() != 0)
{ 
    <table align="center">
        <tr>
            <th>
                Titre
            </th>
            <th>
                Prix
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.Truncate((item.Titre.ToString()), 80)
            </td>
            <td>
                @Math.Round(Convert.ToDouble(item.Prix), 2)
            </td>
            <td>
                @Html.ActionLink("Enlever", "Delete", new { idEnregistrement = item.Code_Morceau })
            </td>
        </tr>
    }
    </table>
    @Html.ActionLink("Commander", "Acheter", "Panier", null, new { @class = "btn btn-lg btn-default" })
}
else
{
}